body{
    margin: 0px;
    margin-top: 80px;
    position: relative;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: 'Michroma', sans-serif;
}

#postingGrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#posting{
    background-color: white;
    color: black;
    margin: 5px;
    border: 1px solid black;
    padding-left: 20px;
    padding-right: 10px;
    max-width: 100%;
    min-width: 60%;
}

#fullposting{
    background-color: white;
    color: black;
    margin: 5px;
    border: 1px solid black;
    padding-left: 20px;
    padding-right: 10px;
}



#userdetails{
    background-color: white;
    color: black;
    margin: 5px;
    border: 1px solid black;
    width: 80%;
    padding-left: 20px;
    padding-right: 10px;
}

#headercontainer{
    position: fixed;
}

header{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    padding: 10px;
    background-color: black;
    color: white;
    display: grid;
    grid-template-columns: 55% 15% 15% 15%;
    vertical-align: middle;
    margin-bottom: 50px;
}

header #admin{
    background-color: red;
}

header a{
    text-decoration: none;
    transition: all .2s ease-in;
    color: white;
}

header h1{
    margin: 0;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 36px */
    letter-spacing: -0.36px;
}

header p{
    vertical-align: middle;
    
    margin-top: 12px;
    text-align: center;
}

header a:hover{
    background-color: darkorange;
    color: black;
}

header a:visited{
    text-decoration: none;
}

div a{
    color: black;
    text-decoration: none;
}

div a:visited{
    color: black;
    text-decoration: none;
}

#postingviewwrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;

}

#stars{
    font-size: 40px;
}

#transactiongrid{
    position: relative;
    margin: 0 auto;
}

#transaction{
    margin: 0 auto;
    margin-bottom: 20px;
    min-width: 200px;
    max-width: 500px;
    border: 2px solid black;
    text-align: center;
}

.edituserform{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    min-width: 200px;
    margin: 5px;
    border: 1px solid black;
    padding: 20px;

}

.edituserform button{

}


@media screen and (max-width: 800px){
    #postingGrid{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    #postingviewwrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
    
    }
    header{
        grid-template-columns: 40% 20% 20% 20%;
    }
    header a{
        font-size: 15px;
    }
}

@media screen and (max-width: 500px){
    #postingGrid{
        display: flex;
        flex-direction: column;
        align-items: center;
        grid-template-columns: 1fr;
        width: 100%;
    }
    header{
        position: fixed;
        top:0;
        width: 100%;
        padding: 10px;
        background-color: black;
        color: white;
        display: grid;
        grid-template-columns: 40% 20% 20% 20%;
        vertical-align: middle;
        margin-bottom: 50px;
    }
    header a{
        font-size: 12px;
    }

}